---
layout: home
title: 2022 Digitizing Hidden Collections Symposium
eleventyNavigation:
    key: Home
    order: 1
---

{% image "assets/images/dhcs-logo-transparent-1536x721.png", "DHC logo", "(min-width: 30em) 50vw, 100vw", "mx-auto d-block" %}

<h1 class="pb-3">We digitized it — what's next? Learning from and making use of digitized hidden collections.</h1>

<div class="card">
  <div class="card-header bg-burgundy text-light">
    <h2>About the Event</h2>
  </div>
  <div class="card-body">
    <p>Since 2015, with the generous support of the Mellon Foundation, the CLIR <a href="https://www.clir.org/hiddencollections/">Digitizing Hidden Special Collections and Archives</a> program has awarded approximately $4 million annually to archives, historical societies, libraries, museums, and other collecting organizations to support the digitization of rare and unique materials holding significance for research, learning, and the public good.</p>
    <p>
      <strong>In autumn 2022, CLIR hosted a two-day event for grant recipients to share lessons from their project work and talk about &#39;what&#39;s next&#39;.</strong> The symposium, originally scheduled for November 2020 but postponed due to the ongoing pandemic, took place October 12-13, 2022 in Baltimore, MD in conjunction with the <a href="https://forum2022.diglib.org/">DLF Forum</a>. Attendance was open to the public.</p>
    <p>A day of free virtual programming was held on November 13, 2020 — revisit <a href="https://www.clir.org/hiddencollections/2020-conversations/">5 for 5: Conversations on Five Years of Digitizing Hidden Collections</a>.</p>
  </div>
</div>

<h1 class="pt-5" id="what-s-it-like-to-attend-a-dhc-event-">What&#39;s it like to attend a DHC event?</h1>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for slide in slider %}
      <div class="carousel-item active">
        <img src="{{ slide.image | url }}" class="d-block w-100" alt="{{ slide.alt }}">
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr>
<h1 id="stay-connected-">Stay Connected!</h1>

<p>Sign up for the <a href="https://share.hsforms.com/19R_7ZyemSLOtl9fanrNGEAc21y3">CLIR Grants &amp; Programs mailing list</a> to receive email updates.</p>
<p>Contact <a href="mailto:hiddencollections@clir.org">hiddencollections@clir.org</a> with questions.</p>