<footer class="mt-5 pt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-3">
            <div class="col mb-3">
                <a href="https://www.clir.org/" target="_blank">
                    <img src="{{ '/assets/images/icon.png' | url }}" width="80px" height="80px" alt="CLIR Logo" >
                </a>
                <p class="mt-3">
                    <strong>Council on Library and Information Resources</strong>
                    1800 Diagonal Road, Suite 600<br>
                    Alexandria, VA 22314<br>
                    <a href="mailto:contact@clir.org">contact@clir.org</a>
                </p>
            </div>
            <div class="col mb-3">
                <h2 class="fs-3">About</h2>
                <!-- <span class="footer-separator"></span> -->
                <p class="mt-3">CLIR is an independent, nonprofit organization that forges strategies to enhance research, teaching, and learning environments in collaboration with libraries, cultural institutions, and communities of higher learning.</p>
                <p><a href="https://www.clir.org/privacy" target="_blank">Privacy Policy</a></p>
            </div>
            <div class="col mb-3">
                <h2 class="fs-4">Stay In Touch</h2>
                <p>Sign up for news from CLIR.</p>
                <a target="_blank" href="https://share.hsforms.com/1vF5y8l0qS8mPVSllp5k8agc21y3" class="btn btn-lg btn-danger">Sign Up</a>

                <h2 class="mt-4 pt-4 fs-4 pb-2">Follow Us</h2>

                <ul class="social-icons nav col-md-12 list-unstyled d-flex">
                    <li class="ms-3"><a class="text-burgundy" href="https://www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096"><i class="bi bi-facebook circle-icon"></i><span class="visually-hidden-focusable">Facebook</span></a></li>
                    <li class="ms-3"><a class="text-burgundy" href="https://twitter.com/clirnews"><i class="bi bi-twitter circle-icon"></i><span class="visually-hidden-focusable">Twitter</span></a></li>
                    <li class="ms-3"><a class="text-burgundy"href="http://www.youtube.com/user/DLFCLIR?blend=2&ob=0"><i class="bi bi-youtube circle-icon"></i><span class="visually-hidden-focusable">Youtube</span></a></li>
                    <li class="ms-3"><a class="text-burgundy" href="https://www.linkedin.com/company/6203386/"><i class="bi bi-linkedin circle-icon"></i><span class="visually-hidden-focusable">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="container my-3">
            <p class="text-end">
                Unless otherwise indicated, content on this site is available for re-use under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">CC BY-SA 4.0 License</a>
            </p>
        </div>
    </div>
</footer>