<div class="container">
    <header class="p-3 mb-3">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="{{ '/' | url }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img height="40px" width="40px" src="{{ '/assets/images/icon.png' | url }}" alt="CLIR Logo">
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ '/annual-reports/' | url }}" class="nav-link px-2 link-dark">Annual Reports</a></li>
            <li><a href="{{ '/reports/' | url }}" class="nav-link px-2 link-dark">Reports</a></li>
            <li><a href="{{ '/archives/' | url }}" class="nav-link px-2 link-dark">Archives</a></li>
            <li><a href="{{ '/search/' | url }}" class="nav-link px-2 link-dark">Search</a></li>
          </ul>
        
        </div>
      </div>
    </header>
  </div>