<div class="px-3 py-3 pt-md-5 pb-md-4">
    <h2 id="closing-plenary-panel" tabindex="-1">Closing Plenary Panel <a class="header-anchor" href="#closing-plenary-panel" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16"><path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/></svg>
        </a>
    </h2>

    <div class="py-3 my-5 ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/YzylOR-FY5o?si=GXkU52_6TiSPEkMG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>Thoughtfully planning for and executing successful digitization initiatives can take years. But when centered on digitizing hidden collections, projects often hold the potential to illuminate the present in unpredictable ways. How can we keep digitization operations going for the long term while leaving room to be flexible and–when necessary–to regroup in order to adapt to changing circumstances and needs? In what ways can our digitization strategies and digitized collections deepen public engagement with contemporary issues? How can we keep our digital collections growing while still supporting efforts to raise awareness about the value of using cultural materials to understand current events? Panelists will offer their perspectives on questions like these, followed by a moderated discussion and audience Q&amp;A.</p>
    <p>The closing panel comprises three presentations:</p>

    <ul class="border-bottom pb-3">
        <li>The Border in Print: Digitizing Periodicals in the US-Mexico Border Region Digitizing</li>
        <li>PrisonPandemic: Scaling and Adapting Document Management During COVID-19</li>
        <li>Vascular Plant Specimens from a Country at War</li>
    </ul>

    {% for presentation in closing %}
        <div class="talk py-4 border-bottom">
            <h3 id="{{ presentation.title | slugify }}" tabindex="-1">{{ presentation.title }} <a class="header-anchor" href="#{{ presentation.title | slugify }}" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16"><path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/></svg>
                </a>
            </h3>
            <p>{{ presentation.authors }}</p>

            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#{{ presentation.title | slugify }}Description" role="button" aria-expanded="false" aria-controls="{{ presentation.title | slugify }}Description">
                    Read Description
                </a>
            </p>
            <div class="collapse mb-3" id="{{ presentation.title | slugify }}Description">
                <div class="card card-body">
                    {{ presentation.description | safe }}
                </div>
            </div>
            <ul class="list-inline">
                {% if 'slides_url' in presentation %}
                    <li class="list-inline-item">
                        <a class="btn btn-lg btn-danger" href="{{ presentation.slides_url }}">
                            <i class="bi bi-laptop"></i> Slides</a>
                    </li>
                {% endif %}
                {% if 'paper_url' in presentation %}
                    <li class="list-inline-item">
                        <a class="btn btn-lg btn-danger" href="{{ presentation.paper_url }}">
                            <i class="bi bi-file-earmark-text"></i> Paper</a>
                    </li>
                {% endif %}
                {% if 'report_url' in presentation %}
                    <li class="list-inline-item">
                        <a class="btn btn-lg btn-danger" class="btn btn-lg btn-danger" href="{{ presentation.report_url }}">
                            <i class="bi bi-file-earmark-text"></i> View the Report</a>
                    </li>
                {% endif %}
                {% if 'resources_url' in presentation %}
                    <li class="list-inline-item">
                        <a class="btn btn-lg btn-danger" href="{{ presentation.resources_url }}">
                            <i class="bi bi-file-earmark-text"></i> Resources</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>