---
layout: default
---
<main role="main" class="bg-light">
    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 border-bottom">
            {{ content | safe }}
        </div>

        <h2 id="toc">Table of Contents</h2>

        <ul>
            <li><a href="#remarks">Remarks</a></li>
            <li><a href="#presentations">Presentations</a></li>
            <li><a href="#closing-plenary-panel">Closing Plenary Panel</a></li>
            <li><a href="#demonstration-videos">Demonstration Videos</a></li>
            <li><a href="#posters">Posters</a></li>
        </ul>

        {% include 'partials/remarks.njk' %}
        {% include 'partials/presentations.njk' %}
        {% include 'partials/closing.njk' %}
        {% include 'partials/videos.njk' %}
        {% include 'partials/posters.njk' %}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.css" integrity="sha512-yexU9hwne3MaLL2PG+YJDhaySS9NWcj6z7MvUDSoMhwNghPgXgcvYgVhfj4FMYpPh1Of7bt8/RK5A0rQ9fPMOw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js" integrity="sha512-vONptKEoKbP1gaC5UkbYDa9OPr04ur4bxaaqT7DAJxGHB2oogtseCPrl5e5hPFokGYotlGNV4d+GM593ka7iNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
// https://github.com/sampotts/plyr?tab=readme-ov-file#multiple-players
const players = Array
    .from(document.querySelectorAll('.js-player'))
    .map((p) => new Plyr(p));
</script>